<ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <div class="headercont">
      <div class="iconohead">
        <ion-img src="../../../assets/icon/logosinfondo.png"></ion-img>
      </div>
      <span class="headerttl" (click)="irAInicio()">FERREMAS</span>
      
      <div class="header-buscador">
        <ion-searchbar 
          placeholder="Buscar productos..." 
          class="custom-searchbar"
          animated="true"
          showCancelButton="focus"
          debounce="500">
        </ion-searchbar>
      </div>
      
      <div class="headerderecha">
        <ion-button shape="round" class="headercerrar" href="/modificar-cuenta">{{ nombreUsuario || 'Editar Usuario' }}</ion-button>
        <ion-button shape="round" class="headercerrar" href="/despachos">Despachos</ion-button>
        <ion-button shape="round" class="headercerrar" href="/iniciosin">Cerrar sesión</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo-cartas">
    <h1>Gestionar Productos</h1>
  </div>  

  <div class="agregar-producto-form">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Nuevo Producto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p style="color: white;">Titulo:</p>
      <ion-input [(ngModel)]="nuevoProducto.titulo" required></ion-input>
      <p style="color: white;">Descripción:</p>
      <ion-input [(ngModel)]="nuevoProducto.descripcion"></ion-input>
      <p style="color: white;">Stock:</p>
      <ion-input type="number" [(ngModel)]="nuevoProducto.stock" required></ion-input>
      <p style="color: white;">Precio:</p>
      <ion-input type="number" [(ngModel)]="nuevoProducto.precio" required></ion-input>

      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="nuevoProducto.tipo">
          <ion-select-option value="herr">Herramientas</ion-select-option>
          <ion-select-option value="mate">Materiales</ion-select-option>
          <ion-select-option value="mad">Madera</ion-select-option>
          <ion-select-option value="pint">Pinturas</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" (click)="agregarProducto()">Agregar Producto</ion-button>
    </ion-card-content>
  </ion-card>
</div>


  <div class="card-grid">
    <ion-card *ngFor="let producto of productos; let i = index" class="producto-card">
      <ion-img [src]="'assets/icon/' + producto.titulo + '.png'" class="producto-img"></ion-img>
      <ion-card-header>
        <ion-card-title class="producto-titulo">{{ producto.titulo }}</ion-card-title>
        <ion-card-subtitle class="producto-sub">{{ producto.precio | currency:'CLP' }}</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <div class="stock-info">
          <ion-badge class="stock">
            Stock: {{ producto.stock }}
          </ion-badge>
        </div>
        
        <ion-button 
          expand="block" 
          fill="outline" 
          (click)="actualizarProducto(i)"
          class="edit-button">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Editar
        </ion-button>
        <ion-button 
          expand="block" 
          color="danger" 
          (click)="eliminarProducto(producto.id_producto, producto.titulo)" 
          class="delete-button">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Eliminar
      </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="footer-row">
        <ion-col size="6" class="footertxt">
          © FERREMAS 2025
        </ion-col>
        <ion-col size="6" class="footerinfo" style="text-align: right;">
          Contacto: +569 98940264
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>