<ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <div class="headercont">
      <div class="iconohead">
        <ion-img src="../../../assets/icon/logosinfondo.png"></ion-img>
      </div>
      <span class="headerttl">FERREMAS</span>      
    <div class="headerderecha">      
    <ion-button shape="round" class="headercrear">Usuario: {{ nombreUsuario }}</ion-button>
    <ion-button shape="round" class="headercrear" href="/inicio">Cerrar sesión</ion-button>
    </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="carrito-content">
  <div class="titulo-cartas">
    <h1>Carrito de compras</h1>
  </div> 

  <div class="carrito-box">
    <ion-accordion-group expand="none">
      <ion-accordion *ngFor="let producto of carrito" class="carrito-item">
        <ion-item slot="header" color="light">
          <ion-avatar slot="start">
            <img [src]="producto.imagen" />
          </ion-avatar>
          <ion-label>
            <h2>{{ producto.titulo }}</h2>
          </ion-label>
        </ion-item>

        <div class="accordion-content" slot="content">
          <div class="detalle-producto">
            <span><strong>Cantidad:</strong> {{ producto.cantidad }}</span>
            <span><strong>Precio unitario:</strong> {{ producto.precio | currency:'CLP' }}</span>
            <span><strong>Total:</strong> {{ producto.precio * producto.cantidad | currency:'CLP' }}</span>
          </div>
        </div>
      </ion-accordion>
      <div class="boton-pagar">
        <ion-button>Pagar carrito</ion-button>
      </div>    
    </ion-accordion-group>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="footer-row">
        <ion-col size="6" class="footertxt">
          © FERREMAS 2025
        </ion-col>
        <ion-col size="6" class="footerinfo" style="text-align: right;">
          Contacto: +569 98940264
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
