.iconohead{
    width: 150px;   
    margin-left: 20px;
    margin-right: 30px;     
}

.headercont{
    display: flex;
    align-items: center;
    background-color: rgb(17, 17, 70);
    width: 100%;
    padding: 0 16px;
    color: black;
    flex-wrap: wrap;
}

.header{
    display: flex;
}

.headerttl{
    border-radius: 15px;
    font-size: xx-large;    
    margin-left: 20px;
    background-color: rgb(236, 98, 49);
    padding: 10px 100px;
    display: flex;
    white-space: nowrap;
}

.headerderecha{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}

.headercarrito{
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: auto;
    font-size: 50px;
    cursor: pointer;    
    padding-right: 20px;
}

.headercrear{
    border-radius: 15px;    
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    --background: rgb(236, 98, 49);
}

//FOOTER//////////////////////////////////////////////////
.footer-row {
  align-items: center;
  height: 100%;
  font-size: 14px;
}

.footertxt {
  padding-left: 12px;
}

.footerinfo {
  padding-right: 12px;
}

//TITULO/////////////////////////////////////////////////
.titulo-cartas {
  text-align: center;
  margin: 2rem 1rem 1rem;
}

.titulo-cartas h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(236, 98, 49);
  display: inline-block;
}
//CARRITOO///////////////////////////////////////////////
.carrito-content {
  padding: 16px;
}

.carrito-box {
  background-color: rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.titulo-cartas {
  text-align: center;
  margin-bottom: 16px;
}

.producto-boleta {
  margin-bottom: 16px;
}

.producto-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.producto-header h3{
  font-size: xx-large;
}

.producto-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.producto-detalles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  padding-left: 62px; /* Alineado con la imagen */
}

.detalle-producto label {
  font-weight: bold;
  font-size: x-large;
}

.detalle-producto span {
  font-weight: bold;
  font-size: x-large;
}

.detalle-producto ion-input {
  font-weight: bold;
  font-size: xx-large;
}

.separador {
  margin-top: 12px;
  border: none;
  border-top: 1px solid #ddd;
}

.boton-pagar {
  margin-top: 20px;
}

.carrito-vacio {
  text-align: center;
  color: #888;
}

.color-selector {
  margin-top: 8px;
  padding-left: 62px;
  font-size: x-large;

  ion-select {
    width: 100%;
    max-width: 200px;
  }
}

.boton-pagar ion-button{
    border-radius: 15px;    
    color: black;
    font-size: 16px;
    cursor: pointer;    
    --background: rgb(236, 98, 49);
    width: 100%;
    max-width: 800px; // debe coincidir con .carrito-box
    margin: 40px auto 10px auto; // espacio arriba y abajo
    display: flex;
    justify-content: flex-end; // ✅ alinea a la derecha
    padding-right: 8px; // opcional, para un pequeño margen interno
    
}

.btn-eliminar {
  --background: #ff4d4d;
  --color: white;
  font-size: 12px;
  padding: 6px 10px;
  height: 30px;
}

