.icono_cont{        
    
    text-align: center;
}

.icono_sad{
    width: 500px;
    height: 500px;
}

.texto_notfound{
    text-align: center;
    font-size: x-large;
}

.num_error{
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

.redireccion{
    color: rgb(57, 57, 255);
    text-decoration: underline;
    cursor: pointer;
}